a {
    color: #18bc9c;
}

.wrap {
    padding-top: 100px;
    margin-bottom: 100px;

    @media only screen
    and (max-width : 320px) {
        padding-top: 30px;
    }

    @media only screen
    and (max-width : 480px) {
        padding-top: 30px;
    }

    .photo {
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        box-shadow: 0 0 8px #000000;
        -webkit-box-shadow: 0 0 8px #000000;
        -moz-box-shadow: 0 0 8px #000000;
    }
}