<div class="col-xs-12">
    <p class="input-group">
        <form class="form" name="form" ng-submit="addAlert(form)" novalidate>
            <div class="form-group" ng-class="{ 'has-success': form.alertName.$valid && submitted,
                                                'has-error': form.alertName.$invalid && submitted }">
                <label>Alert Name</label>
                <input type="text" name="alertName" class="form-control" ng-model="alert.alertName"
                     required/>
                <p class="help-block" ng-show="form.alertName.$error.required && submitted">
                A alert name is required
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.alertTime.$valid && submitted,
                                                'has-error': form.alertTime.$invalid && submitted }">
                <div>
                    <label>Alert Time</label>
                </div>
                <timepicker ng-model="alerttime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button> (mode)
                <div class="row">
                    <div class="col-xs-1">
                        Hours interval:
                        <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
                    </div>
                    <div class="col-xs-1">
                        Minutes interval:
                        <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
                    </div>
                </div>
                <p class="help-block" ng-show="form.alertTime.$error.required && submitted">
                A alert time is required
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                'has-error': form.email.$invalid && submitted }">
                <label>Email</label>
                <input type="text" name="email" class="form-control" ng-model="alert.email"
                     required/>
                <p class="help-block" ng-show="form.email.$error.required && submitted">
                A email is required
                </p>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">
                Submit
                </button>
            </div>
        </form>
    </p>
</div>